
.table thead th {
    vertical-align: bottom;
    border-bottom: 0.5px solid #dee2e6;
}



.input-group-text {
    height: 22px;
    /*    padding: 0.1rem 0.25rem;*/
    font-size: 17px;
    border-radius: 0.25rem;
}

.btnSpace {
    margin-right: 1em;
}

div.datatable-wide {
    padding-left: 0;
    padding-right: 0;
}
/*Color del cuadro checkbox*/
.custom-control-label::before {

    background-color: #fff;
}

.modal .custom-control-label::before {

    background-color: #f5f5f5;
}

html{
    background-color: #f5f5f5;
}

body{
    background-color: #f5f5f5;
    line-height: 1.4;
    font-size: 0.8375rem;
}
.card-body {
    background-color: #f5f5f5;
}

.form-control {
    color: #000 !important;
}

/*Modal FullScreen*/
.modal.modal-fullscreen .modal-dialog {
    width: 75%;
    height: auto;
    max-width: none; 
}

.modal.modal-fullscreen .modal-content {
    height: auto;
    min-height: 100%;
}

@media only screen and (max-width: 480px) {
    .modal.modal-fullscreen .modal-dialog {
        width: 95%;
        height: auto;
        max-width: none; 
    }
}


/*Tablas mas angostas*/
.table th {
    padding: 0.3rem; 
    background-color: white;
}
table td {
    padding: 0.0rem; 
    background-color: white;
}

.table-sm td {
    padding: 0.0rem;
    background-color: white;
}
/*Fuente Nav Submenu*/
/*.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    font-size: 17px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 17px;
}*/

/*Controles pequeños*/
label {
    margin-bottom: 0rem;
}
label, .control-label, .help-block, .checkbox, .radio, .form-control-feedback {
    font-size: 0.72rem;
}

.selectize-input {
    min-height: 0px;
}
.selectize-input {
    padding: 0px 7px;
    padding-right: 18px;
}

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-prepend > .input-group-text, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-append > .btn {
    height: 21.6px;
    font-size: 11.5px;
}


/*Tallas Ventas y Compras*/
.table.Tallas th, .table.Tallas td {
    padding: .09rem; 
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}

/*No edición en controles*/
.disabledForms{
    opacity: 0.8 ;
    pointer-events: none;
}


/*Tablas*/
.table{
    text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle !important;
}

@media screen and (max-width: 767px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 0px solid #ddd;
    }
}

table tbody tr{
    cursor: pointer;
    font-size: 12px !important;

}
table thead tr{
    cursor: pointer;
}

.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success,
.table>tbody>tr.success>td,
.table>tfoot>tr.success>td,
.table>tbody>tr.success>th,
.table>tfoot>tr.success>th {
    background-color: #2C3E50 ;
    color: #fff;
}

.table>tbody>tr>td.red,
.table>tbody>tr.red>td{
    background-color: #fff;
    color: #E74C3C;
    font-weight: bold;
}

.table>tbody>tr>td.exists,
.table>tbody>tr.exists>td{
    background-color: #18BC9C ;
    color: #fff;
}

/*Selected*/
tr.selected td {
   background-color: #2C3E50 ;
    color: #fff;
}



/*Hacer todo el texto de los inputs mayusculas*/
input { 
    text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}

/*Login*/
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%; 
    height: 340px;
    min-width: 300px;
    max-width: 600px;
    padding: 30px;
}
.cursor-hand{
    cursor: pointer;
}
.table-responsive table{
    display: table  !important;
    width: 100% !important;
}
